@font-face {
    font-family: "FiraCode";
    src: url('../fonts/FiraCode-Retina.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Cantarell;
    src: url('../fonts/Cantarell-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Garamond Regular";
    src: url('../fonts/EBGaramond12-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "Garamond Regular";
    background-image: url("../img/fondo.svg");
    background-attachment: fixed;
    background-size: 100%;
    color: #33333f;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    max-width: 960px;
}
html {
    font-size: 20px;
}
/* cabecera */
.masthead {
    float:left;
    align-content: right;
}
.masthead h1 {
    font-family: Cantarell, Helvetica, 'sans serif';
    font-size: 2em;
    text-align: right;
    margin-left: 5px;
    margin-bottom: 0px;
    color: #FFF;
}
.masthead h2 {
    font-family: Cantarell, Helvetica, 'sans serif';
    font-size: 1.2em;
    color: #FFFF55;
    text-align: right;
    margin-right: 5px;
    margin-top: 5px;
}
.masthead a {
    color: #FFF;
    text-decoration: none;
}
.masthead a:hover {
    text-decoration: none;
    color: #ff5;
    transition: 1s;
}
.masthead p {
    font-size: 1.5em;
    margin-left: 10px;
    margin-bottom: 40ps;
}
.masthead ul {
    list-style: none;
    margin-right: 5px;
    text-align: right;
    display: flex;
    justify-content: center;
}
.masthead li {
    font-family: Cantarell, Helvetica, 'sans serif';
    font-size: 1.2em;
    float: left;
    padding-right: 0.5em;
    text-shadow: #F0C 1px 0 10px;
}
/* fin cabecera */
/* enlaces */
a {
    font-weight: inherit;
    line-height: inherit;
    color: #001500;
    text-decoration-style: dotted;
}
h1 a {
    color: #001500;
    text-decoration: none;
    font-family: Cantarell;
}
h2 a {
    text-decoration: none;
    font-family: Cantarell;
}
/* bloques */
#preamble {
    justify-content: center;
    align-items: center;
    /* background-color: #001500bb; */
    background-image: url("../img/cabecera.svg");
    background-size: 100%;
    border-radius: 3px;
}
#content {
    max-width: 960px;
    margin: auto;
    text-align: justify;
    width: 100%
}
#postamble {
    clear: left;
    background-color: #001500bb;
    display: block;
    border-radius: 3px;
    text-align: center;
}
.content div {
    background: #f9f9f966;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    border-radius: 2px;
    -moz-border-radius: 2px;
}
/* post */
.post {
    position: relative;
}
.post img {
    max-width: 100%;
}
.post-title {
    color: #001500;
}
div.post-date {
    font-size: 1.1em;
    text-align: right;
    font-family: Cantarell, Helvetica, Arial;
    font-weight: bold;
    color: #400;
}
div.post-author {
    float: left;
    font-size: 1.1em;
    text-align: left;
    font-family: Cantarell, Helvetica, Arial;
    font-weight: bold;
    color: #400;
}
/* meta info */
.post-info {
    display: inline-block;
    margin: -10px 0 -10px;
    color: #888;
}
.post-info + .post-info:before {
    content: "\2223 \00a0";
}
/* footer */
.footer {
    margin: 80px 0 0;
    text-align: center;
    font-size: 0.85em;
    color: #fff;
}
.footer code {
    color: #ff0;
}
.footer a {
    color: #ff0;
}
.footer > p {
    margin: 0;
    line-height: 1.5;
}
.footer > table {
    margin: auto;
    max-width: 100%;
}
.footpara {
    display: inline;
}
.tags-title {
    margin: 0;
    font-size: 1.2em;
    margin-top: 1em;
    margin-left: -0.5em;
    color: #400;
}
.post-title-summary {
    margin: 0 0 15px;
    font-family: "Garamond Regular";
    font-size: 1.25em;
    margin-left: 0;
}
.post-date-summary {
    margin-top: -0.8em;
    margin-bottom: 5px;
    font-size: 1.1em;
    font-family: "Garamond Regular";
    font-weight: bold;
    color: #400;
}
.texto-resaltado {
    color: #ffffd0;
    font-size: 14em;
    font-weight: bold;
    font-family: Cantarell, Helvetica;
    text-shadow: 
        0 1px 0 #ccc, 
        0 2px 0 #c9c9c9, 
        0 3px 0 #bbb, 
        0 4px 0 #b9b9b9, 
        0 5px 0 #aaa, 
        0 6px 1px rgba(0,0,0,.1), 
        0 0 5px rgba(0,0,0,.1), 
        0 1px 3px rgba(0,0,0,.3), 
        0 3px 5px rgba(0,0,0,.2), 
        0 5px 10px rgba(0,0,0,.25), 
        0 10px 10px rgba(0,0,0,.2), 
        0 20px 20px rgba(0,0,0,.15);
}
.texto-resaltado {
    text-align: center;
}

code {
    font-family: FiraCode, Monaco, Consolas, "monospace";
    font-size: 0.8em;
}

p>code, li>code {
    padding: 0.25em;
}

h1, h2, h3 {
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}

h2 {
    border-bottom: 1px solid #f0c;
    padding-bottom: 0.5em;
    font-size: 1.75em;
}

h3 {
    margin-top: 2em;
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

h2 code, h3 code, h4 code, h5 code, td code {
    font-family: inherit !important;
    font-size: inherit !important;
}

p {
    font-size: 20px;
}

td code {
    font-weight: bold;
}

.org-dl, .org-ul, .org-ol {
    font-size: 1em;
}

dd {
    display: block;
    margin-inline-start: 40px;
    font-size: 1em;
}

#meta {
    margin-top: 2em;
}

#table-of-contents a:link,
#table-of-contents a:visited {
    color: black;
    background: transparent;
}

#table-of-contents {
    line-height: 1.2;
}
#table-of-contents h2 {
    border-bottom: 0;
}

#table-of-contents ul {
    list-style: none;
    padding-left: 0.5em;
    font-weight: normal;
}

#table-of-contents div>ul>li {
    margin-top: 1em;
    font-weight: bold;
}

#table-of-contents .tag {
    display: none;
}

#table-of-contents .todo,
#table-of-contents .done {
    font-size: 80%;
}

#table-of-contents ol>li {
    margin-top: 1em;
}

table {
    margin: auto;
    margin-bottom: 15px;
    max-width: 100%;
    background-color: #fffa;
    font-variant-numeric: lining-nums;
}
th {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    background-color: #DD9;
}
td {
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #DD9;
}
tr:hover {
    background-color: #DD9;
}

img {
    max-width: 85%;
    display: block;
    margin: auto;
}

div.notice {
    position: relative;
    margin: 0 1.2em;
    padding: 0.25em 1em;
    border-left: 4px solid;
}

table + div.notice {
    margin-top: 2em;
}

div.notice a {
    background: transparent !important;
    border-bottom: 1px dotted;
}

div.notice a[href^="http"]:after {
    background: transparent !important;
}

div.notice:before {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25em 0.5em 0;
    font-size: 60%;
    border-bottom-left-radius: 0.5em;
}

.notice-warning {
    background: #fcc;
    color: #600;
    max-width: 80%;
    padding: 0.5em;
    margin: auto;
    border-radius: 5px;
}

.notice-example {
    background: #def;
    color: #069;
    max-width: 80%;
    padding: 0.5em;
    margin: auto;
    border-radius: 5px;
}

.notice-info {
    background: #efe;
    color: #060;
    max-width: 80%;
    padding: 0.5em;
    margin: auto;
    border-radius: 5px;
}

.notice-warning a {
    color: #600;
}

.notice-example a {
    color: #069;
}

.notice-info a {
    color: #060;
}

div.notice-warning:before {
    content: "Aviso:";
    background: #c99;
    color: #fcc;
    padding: 0.2em;
    border-radius: 4px 2px 4px 2px;
}

div.notice-example:before {
    content: "Ejemplo:";
    background: #abc;
    color: #def;
    padding: 0.2em;
    border-radius: 4px 2px 4px 2px;
}

div.notice-info:before {
    content: "Nota:";
    background: #9c9;
    color: #efe;
    padding: 0.2em;
    border-radius: 4px 2px 4px 2px;
}

/* things inside the #+BEGIN_NOTE...#+END_NOTE block */
div.NOTE a {
    background: transparent !important;
    border-bottom: 1px dotted;
}

div.NOTE {
    position: relative;
    margin: 0 1.2em;
    padding: 0.25em 1em;
    border-left: 4px solid;
    margin-top: 2em;
    background: #efe;
    color: #060;
}

div.NOTE:before {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25em 0.5em 0;
    font-size: 60%;
    border-bottom-left-radius: 0.5em;
    content: "\9998";
    background: #9c9;
    color: #efe;
}

blockquote {
    padding: 0px 0px 0px 20px;
    margin: 0px 30ps 20px -22.5ps;
    color: #001500;
    border-left: 8px solid #f0c;
    font-size: 1em;
}

pre {
    font-family: FiraCode, Monaco, Consolas, monospace;
    font-size: 100%;
    border: 0;
    box-shadow: none;
    overflow: auto;
}

pre.example:before {
    content: "✎";
    display: block;
    border-bottom: 1px dotted;
    margin-bottom: 1em;
}

pre.example {
    background: #fec;
    color: #666;
    font-size: 0.85em;
}

pre {
    color: #EEE;
    background-color: #333;
    background-size: 8px 8px;
    border-radius: 3px;
    background-image: linear-gradient(135deg, transparent 25%, rgba(0, 0, 0, 0.02) 25%, rgba(0, 0, 0, 0.02) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0.02));
}

pre.src {
    padding: 0.5em;
}

span.org-string {
    color: #f94;
}

span.org-keyword {
    color: #c07;
}

span.org-variable-name {
    color: #f04;
}

span.org-clojure-keyword {
    color: #09f;
}

span.org-comment, span.org-comment-delimiter {
    color: #999;
}

span.org-rainbow-delimiters-depth-1, span.org-rainbow-delimiters-depth-5 {
    color: #666;
}

span.org-rainbow-delimiters-depth-2, span.org-rainbow-delimiters-depth-6 {
    color: #888;
}

span.org-rainbow-delimiters-depth-3, span.org-rainbow-delimiters-depth-7 {
    color: #aaa;
}

span.org-rainbow-delimiters-depth-4, span.org-rainbow-delimiters-depth-8 {
    color: #ccc;
}

figure {
    align-content: center;
}
figure img {
    margin: auto;
    max-width: 100%;
}

figure:hover img {
    max-width: 120%;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition:all 1s ease-in-out;
}

div.figure {
    font-size: 0.85em;
}

.figure-number {
    font-weight: bold;
}
.org-left {
    text-align: left;
}
.org-right {
    text-align: right;
}

.redes {
    display: inline-block;
    margin: 6px;
    float: left;
    width: 30px;
}
/* Añadidos para este proyecto */
.nota {
    display:none;
    padding:5px;
    border:1px solid #cc5;
    border-radius: 5px;
    background-color:#fafaaa;
    font-size: 0.9em;
    position:relative;
    width:250px;
    height:125px;
    overflow:auto;
    z-index:1;
}
/* Al pasar el mouse por encima del div mostramos el div con la
   clase ".tarjeta". Esta clase, tiene que estar dentro del id
   "tarjeta" para que pueda funcionar
*/
#nota {
    text-decoration-line: underline;
    text-decoration-style: wave;
    text-decoration-color: #f0c;
}
#nota:hover .nota {
    display:inline-block;
    position:absolute;
}

/* Efecto de inicio de página o bloque */
.p-inicio::first-line {
    font-weight: bold;
    color: rgba(0,0,0,0.85);
}
.p-inicio::first-letter {
    position: relative;
    padding-top: 0.1em;
    display: block;
    float: left;
    font-weight: normal;
    font-size: 3.2em;
    line-height: 0.8em;
    color: #f0c;
    margin-right: 0.1em;
}
/* Mostrar texto efecto de acordeón */
.tabs {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.tab {
    width: 100%;
    color: black;
    overflow: hidden;
}
.tab-label {
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 1em;
  background: #dd9; /* #2c3e50; */
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
    background: #cc3; /* #1a252f; */
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
      -webkit-transition: all .35s;
  transition: all .35s;
}
.tab-close {
  display: flex;
      -webkit-box-pack: justify;
  justify-content: flex-end;
  padding: 1em;
  background: #dd9; /* #2c3e50; */
  font-weight: bold;
  cursor: pointer;
  font-size: 0.75em;
}
.tab-content {
  max-height: 0;
  padding: 0.1px;
  color: black;
  background: white;
  -webkit-transition: all .35s;
  transition: all .35s;
}
input:checked + .tab-label {
    background: #dd9; /* #2f1a25; */
}
input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
@media screen {
    h1.title {
        text-align: center;
        margin: 0.5em 0 1em 0;
    }

    h2 {
        margin-top: 3em;
    }

    #table-of-contents {
        position: fixed;
        top: 0;
        left: 0;
        padding: 2em 0 2em 2em;
        width: 290px;
        height: 100vh;
        font-size: 11px;
        background: #eee;
        overlow-x: hidden;
        overlow-y: auto;
    }

    #table-of-contents h2 {
        margin-top: 0;
    }

    #table-of-contents code {
        font-size: 12px;
    }
}

@media print {

        body {
            color: black;
        }

        @page {
            margin: 25mm;
        }

        h2, h3 {
            page-break-before: always;
            margin-top: 0;
        }

        table {
            page-break-inside: avoid;
        }

        a:visited {
            color: black;
            background: #ff8;
        }

        a[href^="http"]:visited {
            background: #bff;
        }

        div.notice:before {
            display: none;
        }
}
/* Responsive
   -------------------------------------------------- */
@media (min-width: 350px) {
    #preamble {
        margin: 0px;
        display: flex;
        width: 100%;
    }
    #content {
        display: block;
        float: left;
        /* max-width: 960px;*/
    }
    .masthead h1 {
        display: block;
        text-align: right;
    }
    .masthead ul {
        display:block;
        list-style: none;
        /*! margin: 20px auto; */
    }
    .masthead li a {
        display: block;
    }
}
@media (min-width: 768px) {
    #preamble {
        margin: 0px;
        display: flex;
        width: 100%;
        min-height: 200px;
    }
    #content {
        display: block;
        float: left;
    }
    .masthead img.avatar {
        position: absolute;
        visibility: inherit;
        width: 90px;
        margin-left: 0;
        margin-top: -120px;
    }
    div#content {
        max-width: 960px;
        margin: 0 auto;
    }
    h1:before, h2:before, h3:before {
        display: inline;
    }
}
@media (min-width: 1024px) {
    body {
        padding: 30px;
        margin: auto;
    }
}
@media (min-width: 1224) {
    #preamble {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #content {
        float: right;
        position: relative;
    }
    #postamble {
        clear: right;
        float: left;
        position: fixed;
        display: block;
        margin-top: 25em;
    }
}
